html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
menu {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  min-width: 375px;
}

.container {
  max-width: 1328px;
  min-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.stop-scroll {
  overflow: hidden;
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 1401px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 1721px) {
  .container {
    max-width: 1328px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0 47px;
}
.header .logo-link {
  border-radius: 24px;
  display: flex;
  height: auto;
  max-width: 110px;
}
.header .logo-link:hover {
  cursor: pointer;
  background-color: #e6e6f0;
}
.header__top-line {
  display: flex;
  flex-wrap: nowrap;
}
.header__button-wrap {
  display: flex;
  flex-wrap: nowrap;
}
.header .menu-btn,
.header .aside-menu-btn,
.header .basket-btn,
.header .userlog-btn,
.header .search-form__button {
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 8px;
  margin-left: 10px;
  transition-duration: 300ms;
  transition-property: background-color;
}
.header .menu-btn:hover,
.header .aside-menu-btn:hover,
.header .basket-btn:hover,
.header .userlog-btn:hover,
.header .search-form__button:hover {
  cursor: pointer;
  background-color: #e6e6f0;
}
.header .menu-btn.show,
.header .aside-menu-btn.show,
.header .basket-btn.show,
.header .userlog-btn.show,
.header .search-form__button.show {
  background-image: url(../img/close-btn.svg);
}
.header .menu-btn {
  background-image: url(../img/menu-hamburger.svg);
}
.header .aside-menu-btn {
  background-image: url(../img/menu-three-dots.svg);
}
.header .basket-btn {
  background-image: url(../img/basket.svg);
}
.header .userlog-btn {
  background-image: url(../img/person.svg);
}
.header .search-form {
  display: flex;
}
.header .search-form__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.header .search-form__button {
  background-image: url(../img/search.svg);
}
.header .search-form__input {
  background-color: transparent;
  border: transparent;
  height: 32px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  margin-left: 10px;
  width: 134px;
}
.header .search-form__input::placeholder {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  opacity: 0.2;
}
.header__mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 15px;
  list-style: none;
  width: 100%;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  position: fixed;
  transform: translateX(104%);
  transition: transform 0.3s ease-in-out;
  border-radius: 0 0 8px 8px;
}
.header__mobile-nav-list.show {
  transform: translateX(0);
}
.header__mobile-nav-list-item {
  width: 100%;
  display: flex;
}
.header__mobile-nav-list-item:not(:last-child) {
  padding-bottom: 15px;
}
.header__mobile-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24a3ff;
  width: 100%;
  padding: 7px 0px;
  background-color: #f5f5fa;
  border-radius: 12px;
  transition-duration: 300ms;
  transition-property: background-color;
}
.header__mobile-link:hover {
  background-color: #e6e6f0;
}
.header__mobile-link.active {
  color: #f0145a;
}
.header__nav-list {
  display: none;
}

@media (min-width: 576px) {
  .header__logo-wrap {
    flex: 1;
    flex-basis: 20%;
  }
  .header__top-line {
    justify-content: space-between;
    flex: 1;
    flex-basis: 80%;
  }
  .header .search-form__input {
    width: auto;
  }
}
@media (min-width: 880px) {
  .header .aside-menu-btn {
    display: none;
  }
  .header .menu-btn,
  .header .basket-btn,
  .header .userlog-btn {
    margin-left: 20px;
  }
  .header .search-form__button {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .header .menu-btn {
    display: none;
  }
  .header__nav-list {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  .header__nav-list-item .header__nav-link {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    color: #000000;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    transition-duration: 300ms;
    transition-property: border-bottom-color;
    margin-left: 20px;
  }
  .header__nav-list-item .header__nav-link.active {
    color: #f0145a;
    border-bottom-color: #000000;
  }
  .header__nav-list-item .header__nav-link:not(.active):hover {
    border-bottom-color: #000000;
  }
  .header .search-form__input {
    width: 134px;
  }
}
@media (min-width: 1201px) {
  .header .search-form__input {
    width: 134px;
  }
  .header .header__nav-link {
    margin-left: 42px;
  }
}
.aside__mobile-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 15px;
  list-style: none;
  width: 100%;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  position: fixed;
  transform: translateX(-104%);
  transition: transform 0.3s ease-in-out;
  border-radius: 0 0 8px 8px;
}
.aside__mobile-container.show {
  transform: translateX(0);
}
.aside__mobile-container-item {
  width: 100%;
  display: flex;
}
.aside__mobile-container-item:not(:last-child) {
  padding-bottom: 15px;
}
.aside__mobile-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24a3ff;
  width: 100%;
  padding: 7px 0px;
  background-color: #f5f5fa;
  border-radius: 12px;
  transition-duration: 300ms;
  transition-property: background-color;
}
.aside__mobile-link:hover {
  background-color: #e6e6f0;
}
.aside__mobile-link.active {
  color: #f0145a;
}
.aside__container {
  display: none;
}
.aside .help-center {
  display: none;
}

@media (min-width: 880px) {
  .aside {
    flex: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
  }
  .aside__container {
    display: flex;
    flex-direction: column;
  }
  .aside__title {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 47px;
    color: #000000;
    margin: 10px 0 44px;
  }
  .aside__nav-list-item {
    padding-bottom: 11px;
    display: flex;
    align-items: center;
  }
  .aside__nav-list-link {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: 12px;
    padding: 7px 0;
    border-bottom: 2px solid transparent;
    transition-duration: 300ms;
    transition-property: border-bottom-color;
  }
  .aside__nav-list-link:hover {
    border-bottom-color: #000000;
  }
  .aside .help-center {
    display: flex;
    margin: auto 0 20px;
  }
  .aside .help-center__link {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: 35px;
    padding: 20px 0 7px;
    border-bottom: 2px solid transparent;
    transition-duration: 300ms;
    transition-property: border-bottom-color;
  }
  .aside .help-center__link:hover {
    border-bottom-color: #000000;
  }
}
.main-grid {
  display: flex;
  flex-direction: column;
}
.main-grid__article {
  width: 100%;
  height: 320px;
  display: flex;
}
.main-grid__article:not(:last-child) {
  margin-bottom: 20px;
}
.main-grid__article--c1 {
  flex-direction: column;
}
.main-grid__article--c2 {
  flex-direction: row;
}
.main-grid__article--c3 {
  flex-direction: row;
}
.main-grid__article--c4 {
  flex-direction: column;
}
.main-grid__article-item {
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  transition-duration: 300ms;
  transition-property: border-color;
}
.main-grid__article-item:hover {
  cursor: pointer;
  border-color: #000000;
}
.main-grid__article-item--c1a {
  background-image: url(../img/get-up-to.svg);
  background-color: #BCE7F0;
  margin-bottom: 20px;
  align-items: center;
}
.main-grid__article-item--c1b {
  background-image: url(../img/summer.svg);
}
.main-grid__article-item--c2a {
  background-image: url(../img/violet-min.jpg);
  margin-right: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.main-grid__article-item--c2b {
  background-image: url(../img/blue-min.jpg);
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.main-grid__article-item--c3a {
  background-image: url(../img/pink-min.jpg);
  margin-right: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.main-grid__article-item--c3b {
  background-image: url(../img/turquoise-min.jpg);
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.main-grid__article-item--c4a {
  background-image: url(../img/yellow-min.jpg);
  margin-bottom: 20px;
}
.main-grid__article-item--c4b {
  background-image: url(../img/grey-min.jpg);
}
.main-grid__article-title {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 40px;
  margin-left: 30px;
}
.main-grid__article-title--c4a {
  color: #001AA2;
}
.main-grid__article-title--c4b {
  color: #FD2E24;
}
.main-grid__article-text {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #000000;
  margin-left: 30px;
}
.main-grid__article-text--c1a {
  font-weight: 800;
  font-size: 30px;
  line-height: 47px;
  margin: 0;
}
.main-grid .like-btn {
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 50%;
  transition-duration: 300ms;
  transition-property: background-color;
  background-image: url(../img/heart.svg);
  margin: 20px;
}
.main-grid .like-btn:hover {
  cursor: pointer;
  background-color: #e6e6f0;
}

@media (min-width: 576px) {
  .main-grid__article {
    height: 376px;
  }
  .main-grid__article-item {
    height: 376px;
  }
}
@media (min-width: 880px) {
  .main-content {
    flex: 1;
    flex-basis: 80%;
  }
}
@media (min-width: 992px) {
  .main-grid__article {
    height: 480px;
  }
  .main-grid__article-item {
    height: 480px;
  }
}
@media (min-width: 1201px) {
  .main-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-grid__article {
    height: 380px;
    width: calc(50% - 10px);
  }
  .main-grid__article:nth-child(odd) {
    margin-right: 20px;
  }
  .main-grid__article-item {
    height: 380px;
  }
}
.main-flex-container {
  padding-bottom: 65px;
}

@media (min-width: 880px) {
  .main-flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
