$colorBasicWhite: #FFFFFF;
$colorBasicBlack: #000000;
$colorSectionLightBlue: #BCE7F0;
$colorSectionDarkBlue: #001AA2;
$colorSectionOrange: #FD2E24;
$colorGreySeparator: #e6e6f0;
$colorGreyText: #b3b3ba;

// from project
$colorMainRegular: #323264;
$colorMainAlt: #46466e;
$colorMainSoft: #686887;
$colorAccent: #f0145a;
$colorActiveRegular: #24a3ff;
$colorActiveHover: #0085ff;
$colorActiveActive: #006ccf;
$colorGreyBg: #f5f5fa;
$colorGreyBgAlt: #ededf7;
$colorGreyText: #b3b3ba;
$colorGreySeparator: #e6e6f0;
$colorGradientRegular: linear-gradient(128.63deg,
        #323264 0%,
        #323264 73.96%,
        #a54b5f 100%);
$colorGradientSoft: linear-gradient(42.01deg,
        #323264 14.33%,
        #323264 51.39%,
        #7a425e 87.53%);
$colorGradientRed: linear-gradient(323.35deg, #f0145a 6.7%, #693264 70.36%);
$colorGradientSupersoft: linear-gradient(228.57deg,
        #323264 11.93%,
        #323264 57.17%,
        #643e72 87.46%);
$colorGradientRedText: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$colorGradientRedTextReverse: linear-gradient(90.13deg,
        #ef8080 0.84%,
        #f0145a 99.96%);
$colorBasicWhite: #FFFFFF;
$colorBasicBlack: #000000;
$colorTeamCoverBg: linear-gradient(32deg, #b3b3c6 35.7%, #e86278 95.36%);
$colorClientsN1: #1c4280;
$colorClientsN2: #143646;
$colorClientsN3: #f48b30;
$colorClientsN4: #9e4dc3;
$colorClientsN5: #fd9339;
$colorClientsN6: #e2e2e4;
$colorClientsN7: #c71c36;
$colorClientsN8: #dcf3f9;
$colorClientsN9: #eaeaea;
$colorClientsN10: #282240;
$colorClientsN11: #1d4568;
$colorClientsN12: #000000;
$colorDotsBtnOpac: rgba(36, 163, 255, 0.3);
$colorDotsBtnHoverOpac: rgba(36, 163, 255, 0.6);
$colorHeaderTopLineWhiteOpac: rgba(245, 245, 250, 0.2);
$colorFirstDivShadow1: #cacadb;
$colorFirstDivShadow2: #e7e7f2;
$colorScrollBtn: rgba(255, 255, 255, 0.5);
$colorScrollBtnHover: rgba(240, 20, 90, 0.5);
$colorTabsSeparator: rgba(255, 255, 255, 0.3);
$colorTeamTextShadow: rgba(40, 40, 86, 0.8);
$colorBtnShadow: rgba(36, 163, 255, 0.5);
$colorOverlay: rgba(50, 50, 100, 0.7);
$colorFormShadow: rgba(40, 40, 86, 0.5);